/* * {
    padding:10px;
    margin: 10px;
} */

/* .box-one */
.flex-container  {
    background-color: rgb(215, 54, 244);
    border: 5px solid rgb(116, 242, 238);
    height: 300px;
    /* text-align: center; */
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */
}

/* text-align: center; */
    /* flex-direction: ; */

    /* background-color: rgb(215, 54, 244);
    border: 0; */
    /* border: 30px solid rgb(242, 116, 227); */
    /* padding: 20px;
    margin: 50px;
    height: 100px;
    width: 100px; 

}*/

   
    /* margin-bottom: 5px; */
   
    /* border: 2px solid rgb(116, 242, 118);  */
   

.lil-box {
    border: 5px solid rgb(42, 49, 246);
    height: 100px;
    width: 150;
    padding:10px;
    margin: 30px;
    /* padding:20px; */
}
/* .box-one {
    background-color: rgb(54, 89, 244);
    
    /* border: 5px solid rgb(116, 242, 118);  */
    
    /* height: 150px;
    width: 300px; */
    /* align-items: center; 
    
} */

/* .box-two {
    background-color: rgb(116, 197, 247);
}
.box-thr3 {
    background-color: rgb(240, 62, 234);
} */
.box-two {
    background-color: rgb(116, 197, 247);
    padding: 20px;
    margin: 10px;
    border: 100px solid rgb(42, 49, 246);
    /* height: 100px;
    width: 100px; */
}

.box-thr3 {
    background-color: rgb(177, 54, 244);
    padding: 20px;
    margin: 30px;
    border: 15px solid rgb(42, 49, 246);
     /* height:; */
    /* width: auto;  */
} 